@model StaticSiteGen.SiteModel

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>@Model.SiteTitle</title>
<meta name="title" content="@Model.SiteTitle" />
<meta name="description" content="@Model.SiteDescription" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content="@Model.SiteTitle" />
<meta property="og:description" content="@Model.SiteDescription" />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content="@Model.SiteTitle" />
<meta property="twitter:description" content="@Model.SiteDescription" />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<script src="https://cdn.tailwindcss.com"></script>
